{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


    <ul>
        <li><a href="{{ url('songs')}}" class="btn btn-info">List of all songs </a></li>
        <li>    <a href="{{ url('create')}}" class="btn btn-success">Add new song </a>
        </li>
    </ul>
</div>
{% endblock %}
